<h1>{{ shop$.Nom }}</h1>

<ul style="list-style-type: none; margin:0;padding:0;">
  <div class="card">
    <div class="card-body">
        <li><strong>Libelle: </strong>{{ shop$.Libelle }}</li>
        <li><strong>Adresse: </strong>{{ shop$.Adresse1 }}</li>
        <li *ngIf="shop$.Adresse2"><strong>Complement: </strong>{{ shop$.Adresse2 }}</li>
        <li><strong>Code Postal: </strong>{{ shop$.CP_Ville }}</li>
        <li><strong>Telephone: </strong>{{ shop$.Telephone }}</li>
        <li><strong>Latitude: </strong>{{ shop$.lat }}</li>
        <li><strong>Longitude: </strong>{{ shop$.lng }}</li>
        <li><strong>Extra: </strong>{{ shop$.extra }}</li>
    </div>
  </div>
</ul>