<h1>{{ shop$.Nom }}</h1>

<ul style="list-style-type: none; margin:0;padding:0;">
  <div class="card">
    <div class="card-body">
        <li><strong>Libelle: </strong>{{ shop$.Libelle }}</li>
        <li><strong>Adresse: </strong>{{ shop$.Adresse1 }}</li>
        <li *ngIf="shop$.Adresse2"><strong>Complement: </strong>{{ shop$.Adresse2 }}</li>
        <li><strong>Code Postal: </strong>{{ shop$.CP_Ville }}</li>
        <li><strong>Telephone: </strong>{{ shop$.Telephone }}</li>
        <li><strong>Latitude: </strong>{{ shop$.lat }}</li>
        <li><strong>Longitude: </strong>{{ shop$.lng }}</li>
        <!--<li><strong>Site Web: </strong><a{{ shop$.extra }}</li>-->
        <a href="{{ shop$.extra }}" target="_blank">Site Web</a>
    </div>
  </div>
</ul>

<a routerLink="/" class="btn btn-info">Retour à l'accueil</a>

<nav aria-label="Page navigation">
    <!-- Mélange mystique entre Bootstrap et Ngx, améliorable (redondance du code ...) -->
    <ul class="pagination" *ngIf="shop$.id <= 3">
      <li [ngClass]="{disabled: shop$.id === 1}" class="page-item"><a class="page-link" href="/detail/{{ shop$.id - 1 }}">Previous</a></li> 

      <li [ngClass]="{active: shop$.id == item.id}" *ngFor="let item of shops$ | paginate: { itemsPerPage: 5, currentPage: 1 }" class="page-item"><a class="page-link" href="/detail/{{ item.id }}">{{ item.id }}</a></li> 
      
      <li [ngClass]="{disabled: shop$.id === 128}" class="page-item"><a class="page-link" href="/detail/{{ shop$.id + 1 }}">Next</a></li>
    </ul>

    <ul class="pagination" *ngIf="shop$.id > 3">
      <li [ngClass]="{disabled: shop$.id === 1}" class="page-item"><a class="page-link" href="/detail/{{ shop$.id - 1 }}">Previous</a></li> 

      <li [ngClass]="{active: shop$.id == item.id}" *ngFor="let item of shops$ | paginate: { itemsPerPage: 5, currentPage: (shop$.id / 5) + 0.5 }" class="page-item"><a class="page-link" href="/detail/{{ item.id }}">{{ item.id }}</a></li> 
      
      <li [ngClass]="{disabled: shop$.id === 128}" class="page-item"><a class="page-link" href="/detail/{{ shop$.id + 1 }}">Next</a></li>
    </ul> 
</nav>